xdata/signup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="user" type="user_type"/>

<!-- <xsd:attribute name="email" type="xsd:string" /> -->

<xsd:complexType name="user_type">
    <xsd:sequence>
        <xsd:element name="first_name" >
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="5" />
                    <xsd:maxLength value="10" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:element>
        <xsd:element name="last_name" >
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="5" />
                    <xsd:maxLength value="20" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:element>
        <xsd:element name="email" >
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="5" />
                    <xsd:maxLength value="100" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:element>
        <xsd:element name="image" >
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:element>
        <xsd:element name="password">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="6"/>
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:element>
        <xsd:element name="visible">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="on"/>
                    <xsd:enumeration value="off"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:element>
    </xsd:sequence>
</xsd:complexType>
</xsd:schema>